/*general*/
body {
    font-family: 'Raleway', sans-serif;
    color: black;
}


span.gras {
    font-weight: bold;
}

.fa-color {
    color: #0065FC;
}

.fa-color-grey {
    color: #DEEBFF;
}

span.grasbleu {
    font-weight: bold;
    color:#0065FC;
}


/*header*/



.nav a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: -119px;
}


.nav img {
    width: 198px;
    padding-top: 69px;
}

#blocnav {
    display: flex;
    align-content: space-between;
    align-items: center;
    color: #0065FC;
    font-size: large;
    margin-top: -26px;
}

.nav:nth-child(1){
    align-self: flex-start;
    flex-basis: 80%;
}
.nav:nth-child(2) {
    flex-basis: 12%;
    padding-top: 97px;
    border-top: 3px solid #0065FC;
}
.nav:nth-child(3) {
    flex-basis: 10%;
    margin-top: 100px;
}
.nav:nth-child(4) {
    flex-basis: 8%;
    margin-top: 100px;
}


nav a:hover {
    padding-top: 97px;
    border-top: 3px solid #0065FC;
}

/*section 1*/

#recherchefiltre p {
    margin-top: -10px;
}


#barrerecherche {
    margin-bottom: 50px;
}


input {
    font-family: 'Raleway';
    font-weight: bold;
    color: black;
    font-size: medium;
    height: 45px;
    width: 250px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}


.bouton {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 13px;
    cursor: pointer;
    margin-left: -4px;
}


button {
    border: none;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    font-size: medium;
}


.iconemap {
    background-color: #F2F2F2;
    padding: 13px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    margin-right: -4px;
}


.h3filtre {
    margin-right: 30px;
}



#conteneurfiltre {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}


.filtre {
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;  
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    padding-right: 20px;
}


.filtre i {
    border: 17px solid #DEEBFF;
    border-radius: 70px;
    width: 20px;
    height: 18px;
    background-color: #DEEBFF;
    margin-right: 15px;
    margin-left: -1px;
}

.filtre:hover {
    background-color: #DEEBFF; 
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;  
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    padding-right: 20px;
    cursor: pointer;
}


#info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -15px;
}

.iconeinfo {                            
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    margin-top: -25px;
    margin-right: 10px;
}

.iconeinfo i {
    padding-top: 2px;
}


  
/*Hebergements à Marseille */

#hebergements h3 {
    margin-right: 650px;  
    margin-top: 13px;
    margin-bottom: 32px;  
    padding-top: 27px;
}

#grosblochebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.cartehebergement {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 280px;
    margin-bottom: 40px;
}


.imagehebergement img {
    width: 270px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.imagehebergement h4 {
    margin-bottom: -10px ;
    margin-top: -2px;
}

.descriptionhebergement {
    padding-left: 15px;
    padding-bottom: 5px;
}


#article_aside {
    display: flex;
}


#hebergements {
    background-color: #F2F2F2;  
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2;
    justify-content: space-around;
}


#hebergements a {
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

.etoileshebergement {
    margin-top: -10px;
}

#aplus {
    font-weight: bold;
    margin-left: -780px;
    margin-top: 7px;
    padding-bottom: 32px;
}


/*Les plus populaires (aside)*/          
#populaire {
    flex: 1;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.cartepopulaire {
    background-color: white;
    display: flex;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
}

#descriptionpopulaire {
    display: flex;
    align-items: flex-start; 
    margin-top: 10px;
}

#descriptionpopulaire h3 {
    margin-left: 47px;
    padding-top: 15px;
    margin-bottom: -3px;
}

#descriptionpopulaire i {
    margin-top: 25px;
    padding-left: 216px; 
    padding-top: 10px;
    margin-bottom: -7px;
}

.descriptioncolumn {
    margin-left: 10px;
}

.descriptioncolumn h4 {
    margin-bottom: -10px;
}

.etoiles {
    margin-top: 60px;
}

.etoilesmilieu {
    margin-top: 40px;
}

.imagepopulaire {
    background-color: white;
    display: flex;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 420px;
}

.imagepopulaire img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
}


/*Activités à marseille*/


#activites {
    display: flex;
    margin: 0px 20px 60px 0px;
}


#h3activite h3{
    padding-top: 60px;
    margin-bottom: -55px;
 
}

.blocactivite1 {
    display: flex;
    margin-right: 10px;
}

.blocactivite2 {
    margin-left: 40px;
    display: flex;  
}


.imageactiviteverticale {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 290px;
    height: 557px;

}

.imageactiviteverticale h4 {
   padding-left: 20px; 
}

.imageactiviteverticale img {
    width: 100%;
    height: 490px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 387px;
}

.imageactivite img {
    height: 202px;
    width: 387px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite h4 {
    padding-bottom: 20px;
    padding-left: 20px;
}



#testsection {
    display: flex;
    margin-top: 80px;
}

.bloc2activites {
    margin-left: 50px;
}

/*footer*/

#conteneur 
{
    display: flex;  
    justify-content: flex-start;
    background-color: #F2F2F2;
    color: black;
}

.element:nth-child(1)
{
 flex-basis: 30%;
 margin-left: 2%;  
}

.element:nth-child(2)
{
 flex-basis: 30%;  
}

