/*GENERAL*/
body {
    font-family: 'Raleway', sans-serif;
    color: black;
}

span.gras {
    font-weight: bold;
}

.fa-color {
    color: #0065FC;
}

.fa-color-grey {
    color: #DEEBFF;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
}

#blocnav {
    display: flex;
    padding-bottom: 40px;
    padding-top: 36px;
}

.logo img {
    width: 160px;
    padding-top: 22px;
    padding-left: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    font-size: 18px;
}

nav li {
    padding-right: 35px;
}

.borduretop {
    border-top: 3px solid #0065FC;
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a:hover {
    border-top: 3px solid #0065FC;
    padding-top: 48px;
}

#subscribe {
    padding-left: 10px;
}

/*INTRODUCTION ET RECHERCHE*/
#recherchefiltre {
    padding-left: 30px;
}

#barrerecherche {
    padding-bottom: 50px;
}

input {
    font-family: 'Raleway';
    font-weight: bold;
    color: black;
    font-size: 15px;
    height: 45px;
    width: 250px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

button {
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    font-size: 15px;
    padding: 14px 13px 13px 13px;
    margin-left: -4px;
    border: none;
    border-radius: 0 10px 10px 0;
}

span.loupe {
    display: none;
}

.iconemap {
    background-color: #F2F2F2;
    padding: 13px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    margin-right: -4px;
}

.h3filtre {
    padding-right: 30px;
}

#conteneurfiltre {
    display: flex;
    align-items: center;
}

.filtre {
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;  
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    padding-right: 20px;
}

.filtre i {
    border: 17px solid #DEEBFF;
    border-radius: 70px;
    width: 20px;
    height: 18px;
    background-color: #DEEBFF;
    margin-right: 15px;
    margin-left: -1px;
}

.filtre:hover {
    background-color: #DEEBFF; 
}

#info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.iconeinfo {                            
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}

.iconeinfo i {
    padding-top: 2px;
}
 
/*HEBERGEMENT*/

#article_aside {
    padding-right: 30px;
    padding-left: 30px;
}

#hebergements h3 { 
    padding-bottom: 11px;  
    padding-top: 22px;
    padding-left: 25px;
    font-size: 24px;
    width: 100%;
}

#grosblochebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.cartehebergement {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 250px;
    margin-bottom: 40px;
}

.imagehebergement img {
    width: 240px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.imagehebergement h4 {
    margin-bottom: -10px ;
    margin-top: -2px;
}

.descriptionhebergement {
    padding-left: 15px;
    padding-bottom: 5px;
}

#article_aside {
    display: flex;
}

#hebergements {
    background-color: #F2F2F2;  
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}

#hebergements a {
    text-decoration: none;
    color: black;
}

.etoileshebergement {
    margin-top: -10px;
}

#aplus {
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 32px;
    padding-left: 50px;
    font-size: 20px;
}

/*POPULAIRE (aside)*/          
#populaire {
    flex: 1;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.cartepopulaire a {
    text-decoration: none;
    color: black;
}

#descriptionpopulaire {
    display: flex;
    margin-top: 10px;
}

#descriptionpopulaire h3 {
    padding-left: 40px;
    padding-top: 15px;
    margin-bottom: -3px;
    font-size: 24px;
    width: 78%;
}

#descriptionpopulaire i {
    margin-top: 37px;
    padding-top: 10px;
}

.descriptioncolumn {
    padding-left: 10px;
}

.descriptioncolumn h4 {
    margin-bottom: -10px;
}

.etoiles {
    padding-top: 47px;
}

.etoilesmilieu {
    padding-top: 28px;
}

.etoilesbas {
    padding-top: 45px;
}

.imagepopulaire {
    background-color: white;
    display: flex;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 420px;
}

.imagepopulaire img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
}

/*ACTIVITES*/
.carteactivite a {
    text-decoration: none;
    color: black;
}

#activites {
    margin-bottom: 71px;
}

#activites h3{
    padding-top: 60px;
    padding-left: 35px;
    font-size: 24px;
}

.blocactivite1 {
    display: flex;
    padding-left: 30px;
}

.blocactivite2 {
    padding-left: 30px;
    display: flex;
    padding-right: 30px;  
}

.imageactiviteverticale {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 340px;
    height: 557px;
}

.carteactiviteverticale a {
    text-decoration: none;
    color: black;
}

.imageactiviteverticale h4 {
   padding-left: 20px; 
}

.imageactiviteverticale img {
    width: 100%;
    height: 490px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 340px;
}

.imageactivite img {
    height: 203px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite h4 {
    padding-bottom: 20px;
    padding-left: 20px;
}

#testsection {
    display: flex;
}

.bloc2activites {
    padding-left: 30px;
}

/*FOOTER*/
#conteneur {   
    display: flex;  
    justify-content: flex-start;
    background-color: #F2F2F2;
    color: black;
    padding-left: 30px;
}

.element {
    width: 30%;
}

/*VERSION MOBILE*/
@media screen and (min-width: 52px) and (max-width: 600px) {

header {
    display: block;
    position: relative;
}

.logo img {
    width: 100px;
    padding-top: 4px;
    padding-bottom: 30px;
    padding-left: 15px;
}

#blocnav {
    padding-bottom: 0px;
    padding-top: 0px;
}

#blocnav a {
    font-size: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    padding-right: 0;
    padding-bottom: 10px;
}

#search {
    width: 50%;
    border-bottom: 3px solid blue;
    text-align: center;
}

#activity {
    width: 50%;
    border-bottom: 3px solid lightgray;
    color: black;
    text-align: center;
}

.borduretop {
    border-top: none;
}

nav a:hover {
    border-top: 0;
    padding-top: 0px;
}

.bordureactivite {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 6px;
    color: gray;
}

#subscribe {
    position: absolute;
    bottom: 64px;
    right: 15px;
}

span.rechercher {
    display: none;
}

span.loupe {
    display: block;
}

#recherchefiltre {
    padding-left: 15px;
    padding-right: 9px;
}

#recherchefiltre h2 {
    font-size: 18px;
    padding-top: 20px;
    padding-right: 18px;
}

#recherchefiltre p {
    font-size: 13px;
    padding-right: 20px;
    }

#barrerecherche {
    padding-bottom: 17px;
    padding-top: 10px;
}

.iconemap {
    margin-right: 0px;
    font-size: 15px;
    padding: 11px 14px 13px 14px;
}

input {
    width: 200px;
    font-size: 13px;
    height: 41px;
    margin-left: -4px;
    margin-right: -4px;
}

button {
    font-size: 15px;
    padding: 11px 12px 12px 9px;
    border-radius: 10px 10px 10px 10px;
}

#conteneurfiltre {
    flex-wrap: wrap;
}

.h3filtre {
    padding-right: 0px;
    width: 100%;
}

.filtre {
    height: 40px;
    border-radius: 30px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.filtre i {
    border: 13px solid #DEEBFF;
    width: 19px;
    height: 17px;
    margin-right: 9px;
    font-size: 18px;
}

.filtre h3 {
    font-size: 13px;
}

#info {
    display: flex;
    align-items: center;
}

.iconeinfo {
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 9px;
    margin-top: 0px;
    width: 7px;
}

#article_aside {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

#populaire {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    }

#descriptionpopulaire {
    margin-top: 0;
}

#descriptionpopulaire h3 {
    font-size: 18px;
    padding-left: 0px;
    width: 83%;
    margin-left: 22px;
}

#descriptionpopulaire i {
    margin-top: 29px;
    font-size: 17px;
    position: absolute;
    right: 37px;
}

.imagepopulaire img {
    width: 39%;
    height: 101px;
}

.descriptioncolumn {
    padding-left: 7px;
    padding-right: 2px;
}

.descriptioncolumn h4 {
    font-size: 14px;
    margin-top: 14px; 
    margin-bottom: -17px;
}

.imagepopulaire {
    margin: 15px auto;
    width: 89%;
    height: 111px;
}

.descriptioncolumn p {
    font-size: 13px;
    padding-top: 10px;
}

.etoiles {
    font-size: 13px;
    padding-top: 22px;
}

.etoilesmilieu {
    padding-top: 6px;
    font-size: 13px;
}

.etoilesbas {
    padding-top: 24px;
    font-size: 13px;
}

#grosblochebergement {
    display: block;
    padding-right: 0;
    padding-left: 15px;
}

#hebergements h3 {
    padding-top: 0px; 
    padding-left: 0px; 
    padding-bottom: 0px;
    font-size: 18px;
    width: 100%;
    }

#hebergements {
    background-color: white;
    display: block;
}

.cartehebergement {
    width: 96%;
    display: block;
    margin-bottom: 20px;
}

.imagehebergement img {
    width: 100%;
    height: 92px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    }

.imagehebergement h4 {
    margin-top: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.descriptionhebergement {
    padding-left: 10px;
    padding-bottom: 0px;
    display: block;
}

.descriptionhebergement p {
    font-size: 13px;
}

.etoileshebergement {
    margin-top: -10px;
    font-size: 13px;
    padding-bottom: 5px;
}

#aplus {
    font-size: 13px;
    padding-bottom: 0px;
    padding-left: 30px;
}

#activites {
    display: block;
    margin : 0px;
}

#activites h3 {
    padding-top: 30px;
    padding-left: 25px;
    font-size: 18px;
}

#testsection {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.blocactivite1 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.imageactiviteverticale {
    height: 132px;
    width: 96%;
    object-fit: cover;
    border-radius: 10px 10px;
    margin-bottom: 20px;
}

.imageactiviteverticale img {
    height: 92px;
    width: 100%;
}

.imageactiviteverticale h4 {
    font-size: 13px;
    margin-top: 9px;
    padding-left: 20px;
}

.bloc2activites {
    padding-left: 0px;
}

.imageactivite {
    width: 96%;
    height: 132px;
    margin-bottom: 20px;
}

.blocactivite2 {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.imageactivite img {
    width: 100%;
    height: 92px;
}

.imageactivite h4 {
    padding-left: 20px;
    font-size: 13px;
    margin-top: 10px;
}

/*FOOTER MOBILE*/
#conteneur 
{
    flex-direction: column;
}

.element {
    width: 100%;   
}

.element h3 {
    font-size: 18px;
}

.element p {
    font-size: 15px;
}

}

/*GRANDS MOBILES*/
@media screen and (min-width: 601px) and (max-width: 735px) {
header {
    justify-content: space-between;
}

.logo img {
    width: 160px;
    padding-top: 22px;
    padding-left: 20px;
}

nav li {
    padding-right: 20px;
}

#sinscrire {
    padding-left: 20px;
}


#recherchefiltre {
    padding-left: 20px;
    padding-right: 0;
}

#recherchefiltre h2 {
    font-size: 18px;
    padding-top: 20px;
    padding-right: 18px;
}

#recherchefiltre p {
    font-size: 15px;
    padding-right: 20px;
}

#barrerecherche {
    padding-bottom: 17px;
    padding-top: 10px;
}

.iconemap {
    margin-right: 0px;
    font-size: 15px;
    padding: 14px 14px 16px 14px;
}

input {
    width: 200px;
    font-size: 13px;
    height: 48px;
    margin-left: -4px;
    margin-right: -4px;
}

button {
    font-size: 15px;
    padding: 14px 12px 16px 7px;
}

#conteneurfiltre {
    flex-wrap: wrap;
}

.h3filtre {
    padding-right: 0px;
    width: 100%;
}

.filtre {
    height: 40px;
    border-radius: 30px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.filtre i {
    border: 13px solid #DEEBFF;
    width: 19px;
    height: 17px;
    margin-right: 9px;
    font-size: 18px;
}

.filtre h3 {
    font-size: 17px;
}

#info {
    display: flex;
    align-items: center;
}

.iconeinfo {
    margin-right: 9px;
    margin-top: 0px;
    padding-right: 7px;
    padding-left: 7px;
    width: 7px;
}

#article_aside {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

#populaire {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    }

#descriptionpopulaire {
    margin-top: 0;
}

#descriptionpopulaire h3 {
    font-size: 18px;
    padding-left: 0;
    width: 86%;
    margin-left: 31px;
}

#descriptionpopulaire i {
    margin-top: 29px;
    font-size: 17px;
}

.imagepopulaire img {
    width: 39%;
    height: 101px;
}

.descriptioncolumn {
    padding-left: 7px;
    padding-right: 2px;
}

.descriptioncolumn h4 {
    font-size: 14px;
    margin-top: 14px; 
    margin-bottom: -17px;
}

.imagepopulaire {
    margin: 20px auto;
    width: 89%;
    height: 111px;
}

.descriptioncolumn p {
    font-size: 13px;
    padding-top: 10px;
}

.etoiles {
    font-size: 13px;
    padding-top: 22px;
}

.etoilesmilieu {
    padding-top: 6px;
    font-size: 13px;
}

.etoilesbas {
    padding-top: 24px;
    font-size: 13px;
}

#grosblochebergement {
    display: block;
    padding-right: 0;
}

#hebergements h3 {
    padding-top: 0px; 
    padding-left: 0px; 
    padding-bottom: 0px;
    font-size: 18px;
    width: 100%;
    }

#hebergements {
    background-color: white;
    display: block;
}

.cartehebergement {
    width: 96%;
    display: block;
    margin-bottom: 20px;
}

.imagehebergement img {
    width: 100%;
    height: 92px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    }

.imagehebergement h4 {
    margin-top: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.descriptionhebergement {
    padding-left: 10px;
    padding-bottom: 0px;
    display: block;
}

.descriptionhebergement p {
    font-size: 13px;
}

.etoileshebergement {
    margin-top: -10px;
    font-size: 13px;
    padding-bottom: 5px;
}

#aplus {
    font-size: 13px;
    padding-bottom: 0px;
    padding-left: 30px;
}

#activites {
    display: block;
    margin : 0px;
}

#activites h3 {
    padding-top: 30px;
    padding-left: 25px;
    font-size: 18px;
}

#testsection {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.blocactivite1 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.imageactiviteverticale {
    height: 132px;
    width: 96%;
    object-fit: cover;
    border-radius: 10px 10px;
    margin-bottom: 20px;
}

.imageactiviteverticale img {
    height: 92px;
    width: 100%;
}

.imageactiviteverticale h4 {
    font-size: 13px;
    margin-top: 9px;
    padding-left: 20px;
}

.bloc2activites {
    padding-left: 0px;
}

.imageactivite {
    width: 96%;
    height: 132px;
    margin-bottom: 20px;
}

.blocactivite2 {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.imageactivite img {
    width: 100%;
    height: 92px;
}

.imageactivite h4 {
    padding-left: 20px;
    font-size: 13px;
    margin-top: 10px;
}

/*FOOTER MOBILE*/
#conteneur 
{
    flex-direction: column;
}

.element {
    width: 100%;   
}

.element h3 {
    font-size: 18px;
}

.element p {
    font-size: 15px;
}

}

/*VERSION TABLETTE*/
@media screen and (min-width: 736px) and (max-width: 1089px) {

header {
    justify-content: space-between;
}

.logo img {
    width: 160px;
    padding-top: 22px;
    padding-left: 20px;
}

nav li {
    padding-right: 20px;
}

#sinscrire {
    padding-left: 20px;
}

#recherchefiltre {
    padding-left: 20px;
    padding-right: 0;
}

#recherchefiltre h2 {
    font-size: 22px;
    padding-top: 0;
}

#recherchefiltre p {
    font-size: 15px;
    padding-right: 20px;
}

#barrerecherche {
    padding-bottom: 17px;
    padding-top: 10px;
}

.iconemap {
    margin-right: 0px;
    font-size: 15px;
    padding: 14px 14px 16px 14px;
}

input {
    width: 200px;
    font-size: 13px;
    height: 48px;
    margin-left: -4px;
    margin-right: -4px;
}

button {
    font-size: 15px;
    padding: 14px 12px 16px 7px;
}

#conteneurfiltre {
    flex-wrap: wrap;
}

.h3filtre {
    padding-right: 0px;
    width: 100%;
}

.filtre {
    height: 40px;
    border-radius: 30px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.filtre i {
    border: 13px solid #DEEBFF;
    width: 19px;
    height: 17px;
    margin-right: 9px;
    font-size: 18px;
}

.filtre h3 {
    font-size: 17px;
}

#info {
    display: flex;
    align-items: center;
}

.iconeinfo {
    margin-right: 9px;
    margin-top: 0px;
    padding-right: 7px;
    padding-left: 7px;
    width: 7px;
}

#article_aside {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

.cartepopulaire {
    display: inline-block;
    width: 47%;
    padding-left: 0;
}

#populaire {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    }

#descriptionpopulaire {
    margin-top: -19px;
}

#descriptionpopulaire h3 {
    font-size: 22px;
    padding-left: 36px;
    padding-bottom: 10px;
    width: 88%;
    margin-bottom: 0;
}

#descriptionpopulaire i {
    margin-top: 29px;
    font-size: 17px;
}

.imagepopulaire img {
    width: 39%;
    height: 101px;
}

.descriptioncolumn {
    padding-left: 7px;
    padding-right: 2px;
}

.descriptioncolumn h4 {
    font-size: 15px;
    margin-top: 5px; 
    margin-bottom: -17px;
}

.imagepopulaire {
    margin: 10px 6px 16px 41px;
    width: 89%;
    height: 111px;
}

.descriptioncolumn p {
    font-size: 15px;
    padding-top: 10px;
}

.etoiles {
    padding-top: 23px;
    font-size: 15px;
}

.etoilesmilieu {
    padding-top: 8px;
    font-size: 15px;
}

.etoilesbas {
    padding-top: 23px;
    font-size: 15px;
}



#grosblochebergement {
    display: flex;
    padding-right: 0;
    padding-left: 0;
}

#hebergements h3 {
    padding-top: 0px; 
    padding-left: 30px; 
    padding-bottom: 0px;
    font-size: 22px;
    width: 100%;
    }

#hebergements {
    background-color: white;
    display: block;
}

.cartehebergement {
    width: 42%;
    display: block;
    margin-bottom: 20px;
}

.imagehebergement img {
    width: 100%;
    height: 110px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    }

.imagehebergement h4 {
    margin-top: 5px;
    margin-top: 5px;
    font-size: 17px;
}

.descriptionhebergement {
    padding-left: 10px;
    padding-bottom: 0px;
    display: block;
}

.descriptionhebergement p {
    font-size: 15px;
}

.etoileshebergement {
    margin-top: -10px;
    font-size: 15px;
    padding-bottom: 5px;
}

#aplus {
    font-size: 15px;
    padding-bottom: 0px;
    padding-left: 42px;
}

#activites {
    display: flex;
    flex-wrap: wrap;
}

#activites h3 {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 22px;
    width: 90%;
}

#testsection {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    width: 100%;
}

.blocactivite1 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 50%;
    justify-content: center;
}

.imageactiviteverticale {
    height: 132px;
    width: 83%;
    object-fit: cover;
    border-radius: 10px 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.imageactiviteverticale img {
    height: 92px;
    width: 100%;
}

.imageactiviteverticale h4 {
    font-size: 17px;
    margin-top: 9px;
    padding-left: 10px;
}

.bloc2activites {
    padding-left: 0px;
}

.imageactivite {
    width: 83%;
    height: 132px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.blocactivite2 {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
    width: 50%;
}

.imageactivite img {
    width: 100%;
    height: 92px;
}

.imageactivite h4 {
    padding-left: 10px;
    font-size: 17px;
    margin-top: 10px;
}

/*FOOTER TABLETTE*/
#conteneur 
{
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

.element {
    width: 20%;
}

.element h3 {
    font-size: 18px;
}

.element p {
    font-size: 15px;
}

}

/*LAPTOP*/
@media screen and (min-width: 1090px) and (max-width: 1440px) {

header {
    justify-content: space-between;
}

.logo img {
    width: 160px;
    padding-top: 22px;
    padding-left: 30px;
}

#recherchefiltre {
    padding-left: 30px;
    padding-right: 0;
}

#recherchefiltre h2 {
    font-size: 22px;
    padding-top: 0;
}

#recherchefiltre p {
    font-size: 15px;
    padding-right: 20px;
}

#barrerecherche {
    padding-bottom: 17px;
    padding-top: 10px;
}

.iconemap {
    margin-right: 0px;
    font-size: 15px;
    padding: 14px 16px 16px 16px;
}

input {
    width: 200px;
    font-size: 13px;
    height: 48px;
    margin-left: -4px;
    margin-right: -4px;
}

button {
    padding: 14px 13px 16px 13px;
}

#conteneurfiltre {
   display: flex;
    align-items: center;
}

.filtre {
    height: 40px;
    border-radius: 30px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.filtre i {
    border: 13px solid #DEEBFF;
    width: 19px;
    height: 17px;
    margin-right: 9px;
    font-size: 18px;
}

.filtre h3 {
    font-size: 17px;
}


#info {
    display: flex;
    align-items: center;
}

.iconeinfo {
    margin-right: 9px;
    margin-top: 0px;
    padding-right: 7px;
    padding-left: 7px;
    width: 7px;
}

#article_aside {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

.cartepopulaire {
    display: inline-block;
    width: 30%;
    padding-left: 24px;
}

#populaire {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    }

#descriptionpopulaire {
    margin-top: -19px;
}

#descriptionpopulaire h3 {
    font-size: 22px;
    padding-left: 39px;
    padding-bottom: 10px;
    width: 92%;
    margin-bottom: 0;
}

#descriptionpopulaire i {
    margin-top: 29px;
    font-size: 17px;
}

.imagepopulaire img {
    width: 39%;
    height: 101px;
}

.descriptioncolumn {
    padding-left: 7px;
    padding-right: 2px;
}

.descriptioncolumn h4 {
    font-size: 15px;
    margin-top: 5px; 
    margin-bottom: -17px;
}

.imagepopulaire {
    margin: 10px 6px 16px 16px;
    width: 98%;
    height: 111px;
}

.descriptioncolumn p {
    font-size: 15px;
    padding-top: 10px;
}

.etoiles {
    padding-top: 23px;
    font-size: 15px;
}

.etoilesmilieu {
    padding-top: 8px;
    font-size: 15px;
}

.etoilesbas {
    padding-top: 23px;
    font-size: 15px;
}


#grosblochebergement {
    display: flex;
    padding-right: 0px;
    padding-left:23px;
}

#hebergements h3 {
    padding-top: 0px; 
    padding-left: 16px; 
    padding-bottom: 0px;
    font-size: 22px;
    width: 100%;
    }

#hebergements {
    background-color: white;
    display: block;
}

.cartehebergement {
    width: 30%;
    display: inline-block;
    margin: 13px 10px 6px 6px;
}

.imagehebergement img {
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    }

.imagehebergement h4 {
    margin-top: 5px;
    font-size: 17px;
}

.descriptionhebergement {
    padding-left: 10px;
    padding-bottom: 0px;
    display: block;
}

.descriptionhebergement p {
    font-size: 15px;
}

.etoileshebergement {
    margin-top: -10px;
    font-size: 15px;
    padding-bottom: 5px;
}

#aplus {
    font-size: 17px;
    padding-bottom: 0px;
    padding-left: 57px;
}

.carteactivite a {
    text-decoration: none;
    color: black;
}

#activites {
    margin-bottom: 71px;
    width: 100%;
}

#testsection {
    width: 100%;
}

#activites h3{
    padding-top: 60px;
    padding-left: 35px;
    font-size: 24px;
}

.blocactivite1 {
    display: flex;
    padding-left: 20px;
    width: 50%;
}

.carteactivite {
    width: 100%;
}

.blocactivite2 {
    padding-left: 30px;
    display: flex;
    padding-right: 20px;  
    width: 50%;
}

.carteactiviteverticale {
    width: 50%;
}

.imageactiviteverticale {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: unset;
    height: 361px;
}

.imageactiviteverticale h4 {
   padding-left: 10px; 
}

.imageactiviteverticale img {
    width: 100%;
    height: 292px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: unset;
}

.imageactivite img {
    height: 105px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite h4 {
    padding-bottom: 20px;
    padding-left: 10px;
}

#testsection {
    display: flex;
    justify-content: center;
}

.bloc2activites {
    padding-left: 30px;
    width: 47%;
}

#conteneur 
{
    flex-direction: row;
    justify-content: space-around;
}

.element {
    width: 30%;
}

.element h3 {
    font-size: 18px;
}

.element p {
    font-size: 15px;
}

}

/*GRANDS ECRANS*/
@media screen and (min-width: 1533px) and (max-width: 2560px) {
   
body {
    max-width: 1533px;
    margin: auto;
}

}

}