/*general*/
body {
    font-family: 'Raleway', sans-serif;
    color: black;
}


span.gras {
    font-weight: bold;
}

.fa-color {
    color: #0065FC;
}

.fa-color-grey {
    color: #DEEBFF;
}



/*header*/


#blocnav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.logo {
   align-self: flex-start; 
   padding-left: 30px;
}

nav img {
    width: 150px;
    padding-top: 24px;
}


nav ul {
    list-style-type: none;
    display: flex;
    align-self: flex-end;
}

nav a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    font-size: 18px;
}

nav li {
    padding-right: 40px;
}


.borduretop {
    border-top: 3px solid #0065FC;
    padding-top: 60px;
}

nav a:hover {
     border-top: 3px solid #0065FC;
     padding-top: 60px;

}

span.grasbleu {
    font-weight: bold;
    color:#0065FC;
}



/*section 1*/

#recherchefiltre {
    margin-left: 30px;
}


#barrerecherche {
    margin-bottom: 50px;
}

input {
    font-family: 'Raleway';
    font-weight: bold;
    color: black;
    font-size: 15px;
    height: 45px;
    width: 250px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

button {
    border: none;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    font-size: 15px;
    padding: 13px;
    margin-left: -4px;
    border-radius: 0 10px 10px 0;
}


.iconemap {
    background-color: #F2F2F2;
    padding: 13px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    margin-right: -4px;
}


.h3filtre {
    margin-right: 30px;
}



#conteneurfiltre {
    display: flex;
    align-items: center;
}


.filtre {
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;  
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    padding-right: 20px;
}


.filtre i {
    border: 17px solid #DEEBFF;
    border-radius: 70px;
    width: 20px;
    height: 18px;
    background-color: #DEEBFF;
    margin-right: 15px;
    margin-left: -1px;
}

.filtre:hover {
    background-color: #DEEBFF; 
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;  
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    padding-right: 20px;
    cursor: pointer;
}


#info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.iconeinfo {                            
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}

.iconeinfo i {
    padding-top: 2px;
}


  
/*Hebergements à Marseille */

#article_aside {
    margin-right: 30px;
    margin-left: 30px;
}

#hebergements h3 { 
    padding-bottom: 11px;  
    padding-top: 22px;
    padding-left: 25px;
    font-size: 24px;
    width: 100%;
}

#grosblochebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.cartehebergement {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 250px;
    margin-bottom: 40px;
}


.imagehebergement img {
    width: 240px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.imagehebergement h4 {
    margin-bottom: -10px ;
    margin-top: -2px;
}

.descriptionhebergement {
    padding-left: 15px;
    padding-bottom: 5px;
}


#article_aside {
    display: flex;
}


#hebergements {
    background-color: #F2F2F2;  
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}


#hebergements a {
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

.etoileshebergement {
    margin-top: -10px;
}

#aplus {
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 32px;
    font-size: 20px;
    padding-left: 50px;
}


/*Les plus populaires (aside)*/          
#populaire {
    flex: 1;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.cartepopulaire a {
    text-decoration: none;
    color: black;
}

#descriptionpopulaire {
    display: flex;
    margin-top: 10px;
}

#descriptionpopulaire h3 {
    padding-left: 40px;
    padding-top: 15px;
    margin-bottom: -3px;
    font-size: 24px;
}

#descriptionpopulaire i {
    margin-top: 37px;
    padding-left: 173px; 
    padding-top: 10px;
    margin-bottom: -7px;
}

.descriptioncolumn {
    margin-left: 10px;
}

.descriptioncolumn h4 {
    margin-bottom: -10px;
}

.etoiles {
    margin-top: 60px;
}

.etoilesmilieu {
    margin-top: 40px;
}

.etoilesbas {
    padding-top: 45px;
}

.imagepopulaire {
    background-color: white;
    display: flex;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 420px;
}

.imagepopulaire img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
}


/*Activités à marseille*/


.carteactivite a {
    text-decoration: none;
    color: black;
}

#activites {
    margin-bottom: 71px;
}


#activites h3{
    padding-top: 60px;
    padding-left: 35px;
    font-size: 24px;
}

.blocactivite1 {
    display: flex;
    margin-left: 30px;
}

.blocactivite2 {
    margin-left: 30px;
    display: flex;
    margin-right: 30px;  
}


.imageactiviteverticale {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 340px;
    height: 557px;

}

.imageactiviteverticale h4 {
   padding-left: 20px; 
}

.imageactiviteverticale img {
    width: 100%;
    height: 490px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px lightgrey;
    cursor: pointer;
    width: 340px;
}

.imageactivite img {
    height: 203px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.imageactivite h4 {
    padding-bottom: 20px;
    padding-left: 20px;
}



#testsection {
    display: flex;
}

.bloc2activites {
    margin-left: 30px;
}

/*footer*/

#conteneur 
{
    display: flex;  
    justify-content: flex-start;
    background-color: #F2F2F2;
    color: black;
    padding-left: 30px;
}


.element {
    padding-right: 250px;
}


/*media queries*/


@media all and (min-width: 320px) and (max-width:612px) {



#blocnav {
    display: block;
    color: #0065FC;
    font-size: small;
    margin-top: 0px;
    align-items: unset;
    margin-bottom: -60px;
    align-content: unset;
}

.nav a {
    padding-left: 0px; 
    padding-right: 0px; 
    margin-top: 0px;
    display: flex;
}

.nav a:hover {
    border-top: none;
    border-bottom: none;
    padding-top: 0px;
    padding-bottom: 0px;
}


.logo {
    display: flex;
    align-items: flex-start;
}

.logo img {
    width: 17%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

.inscription {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: -20%;
    margin-bottom: 140px;
    padding-right: 25px;
    padding-left: 50px;
}


span.grasbleu {
    display: flex;
    font-size: x-small;
    padding-left: 0px;
    padding-right: 0px;
}


#recherchefiltre {
    margin-left: 0px;
    padding-right: 40%;
    padding-left: 2%;
}


#recherchefiltre h2 {
    margin-top: 20px;
    font-size: medium;
}

span.xlsize {
    font-size: small;
}


#recherchefiltre p {
    font-size: x-small;
    padding-right: 20px;
    margin-top: 0px;
    }


#barrerecherche {
    margin-bottom: 20px;
}

.iconemap {
    margin-right: 0px;
    font-size: x-small;
    padding: 9px;
}


input {
    width: 78px;
    font-size: xx-small;
    height: 30px;
    margin-left: -4px;
    margin-right: -4px;
}


button {
    font-size: xx-small;
    padding: 9px;
    margin-left: 0px;
}


#conteneurfiltre {
    align-items: unset;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

.filtre {
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;  
    height: 50px;
    border-radius: 30px;
    padding-right: 3px;
    margin-bottom: 9px;
}

.filtre h3 {
    padding-left: 0px;
    padding-right: 4px;
    margin-top: 10px;
    font-size: small;
    margin-left: -8px;
}


#info {
    display: flex;
    align-items: center;
}

.iconeinfo {
    margin-right: 9px;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: -12px;
    width: 7px;
}

#article_aside {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 0px;
    margin-left: 0px;
}


#populaire {
    margin-left: 0px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-right: 0px;
    }

#descriptionpopulaire h3 {
    font-size: large;
}



#descriptionpopulaire i {
    margin-top: 37px;
    padding-left: 0px;
    padding-top: 10px;
    margin-bottom: -7px;
    font-size: medium;
}


.imagepopulaire {
    margin: 20px;
    width: 87%;
    height: 111px;
}

.imagepopulaire img {
    width: 40%;
    height: 101px;
    padding-right: 6px;
}

.descriptioncolumn {
    margin-left: 10px;
}

.descriptioncolumn h4 {
    margin-bottom: -13px;
    font-size: small;
    padding-left: 16px;
    padding-right: 4px;  
}

.descriptioncolumn p {
    font-size: small;
    padding-top: 10px;
}

.etoiles {
    font-size: small;
    padding-top: 19px;
    margin-top: 0px;
}

.etoilesmilieu {
    margin-top: 19px;
    font-size: small;
    margin-top: 0px;
}

.etoilesbas {
    padding-top: 7px;
    font-size: small;
    margin-top: 0px;
}


#grosblochebergement {
    display: block;
    flex-wrap: wrap;
    align-items: unset;
    padding-left: 20px;
    padding-right: 0px;
    justify-content: unset;
}

#hebergements {
    background-color: white;
    display: block;
    flex-wrap: wrap;
    align-items: unset;
    flex: 0;
    justify-content: unset;
}

#hebergements a {
    margin-top: 0px;
}


#hebergements h3 {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: large;
    margin-left: 0px;
    }

.cartehebergement {
    margin-left: 0px;
    width: 73%;
    display: block;
}

.imagehebergement img {
    width: 100%;
    height: 92px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    }

.imagehebergement h4 {
    margin-bottom: -10px;
    margin-top: 5px;
}

.descriptionhebergement {
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
    display: block;
}

.descriptionhebergement p {
    font-size: small;
}

.etoileshebergement {
    margin-top: -10px;
    font-size: small;
    padding-bottom: 5px;
}


#aplus {
    font-size: medium;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}


#h3activite h3 {
    padding-top: 0px;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: medium;
    
    
}

#activites {
    display: block;
    margin : 0px;
}


#testsection {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.blocactivite1 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}


.imageactiviteverticale {
    height: 132px;
    width: 261px;
    object-fit: cover;
    border-radius: 10px 10px;
    margin-bottom: 30px;
}

.imageactiviteverticale img {
    height: 86px;
    width: 100%;
}

.imageactiviteverticale h4 {
    font-size: small;
    margin-top: 9px;
    padding-left: 0px;
}


.bloc2activites {
    margin-left: 0px;
}


.imageactivite {
    width: 253px;
    height: 132px;
    margin-bottom: 30px;
}


.blocactivite2 {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
}

.imageactivite img {
    width: 100%;
    height: 92px;
}

.imageactivite h4 {
    padding-bottom: 21px;
    padding-left: 20px;
    font-size: small;
    margin-top: 10px;
}


#conteneur 
{
    flex-direction: column;
    background-color: #F2F2F2;
    color: black;
    width: 100%;
    margin-left: 0px; 
    margin-right: 0px; 
    padding-left: 0px;
}





@media screen and (min-width: 613px) and (max-width:1514px) {


}

@media screen and (min-width: 1515px) and (max-width: 1536px) {
   

}

}